/* General */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto Condensed', sans-serif;
} 

h1{
    padding: 80px 0;
    font-family: 'Playfair Display SC', serif;
}

h3{
    font-family: 'Arimo', sans-serif;
}

hr {
    margin: 0; 
}

#barbers,
#price,
#portfolio,
#about{
    padding-bottom: 80px;
    background-color: AntiqueWhite; 
}

/* navbar */
  
.navbar-nav{ 
    margin-right: 0 !important; 
    padding-right: 100px; 
} 
  
.navbar{ 
    background-color: #0a193d; 
    color: white !important; 
} 
  
.nav-item a{ 
    font-family: 'Arimo', sans-serif;
    color: AntiqueWhite !important; 
} 
  
.nav-item{ 
    padding-left: 2px; 
} 
  
.navbar-brand{
    font-family: 'Playfair Display SC', serif;
    color: AntiqueWhite !important; 
    padding-left: 100px; 
}

#banner-col p{
    font-family: 'Arimo', sans-serif;
}
  
  
#navbar button{ 
    color: AntiqueWhite !important; 
}

#banner #banner-col2 img{
    background-color: AntiqueWhite;
}
/* banner */
  
#banner-container{ 
    background-color: #0a193d;
    color: white !important; 
    padding-top: 80px; 
    padding-bottom: 80px; 
      
}

#banner-container a{
    margin-bottom: 40px;
}

#banner-container a.btn.btn-primary{
    font-family: 'Playfair Display SC', serif;
    padding: 15px 30px;
    font-size: 20px;
    font-weight:bold;
}

#banner-col h3{
    padding-left: 20px; 
}

/* barbers  */

#banner-row img{ 
    border-radius: 5px;
    background-color: rgb(138, 83, 10);
    border: 1px solid #ddd;
    padding: 5px;
} 

#banner-row h3, p{ 
    padding-left: 20px; 
    padding-top: 2px;
    padding-bottom: 20px; 
    text-align: center; 
}
  
#banner-row a{
    background-color: LightSlateGray !important; 
    color: AntiqueWhite  !important;
    border: none;
    margin-left: 20px; 
    margin-top: 20px; 
      
} 

/* Price-list */
   
#product-col2 ul{
    list-style-type: none;
    padding-top: 10px; 
    height: 200px;
    overflow-y: scroll;
} 
  
#product-col2 ul li{ 
    padding: 7px;
}

#price h3{
    padding-top: 20px;
}

.list-group li{
    background-color: Beige;
}

/* Portfolio */

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: rgb(252, 209, 153);
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

/* About */

#about-col ul{ 
    padding-top: 50px; 
    padding-left: 50px; 
} 
  
#about-col ul li{ 
    padding-top: 15px; 
      
}
 
/* footer */

#footer-col2 a,
#footer-col1 a{ 
    text-decoration: none;
    color: white !important; 
    background-color: #0a193d  !important; 
}

.mb-3{ 
  padding-top: 10px; 
}

/* .......... */
/* appointment */
/* .......... */

#appointment-step1,
#appointment-step2{
    margin-top: 24px;
}

.h2{
    padding-top: 0;
}

#appointment label{
    font-size: 20px;
}

#appointment-date{
    margin-top: 24px;
}

#appointment-barber,
#appointment-time,
#service-appointment,
#client-name,
#client-phone{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
}

.form-label{
    font-size: 20px;
}

#product-col3 ul{
    list-style-type: none;
    padding-top: 20px; 
    height: 300px;
    overflow-y: scroll;
}

#product-col3 ul li{ 
    padding: 7px;
    background-color: rgb(249, 249, 244);
}

#appointment-baner img{ 
    border-radius: 5px;
    background-color: AntiqueWhite;
    border: 1px solid #ddd;
    padding: 5px;
}

#a-step2{
    margin-left: 440px;
}

.container-step{
    display: flex;
    /* justify-content:space-between; */
}

.container-step a{
    align-self:flex-end;

}

/* .......... */
/* thanks */
/* .......... */

#h1-thanks{
    font-family: 'Arimo', sans-serif;
}

#thanks{
    text-align: center;
}
  