/* General */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto Condensed', sans-serif;
} 

h1{
    padding: 80px 0;
    font-family: 'Playfair Display SC', serif;
}

h3{
    font-family: 'Arimo', sans-serif;
}

hr {
    margin: 0; 
}

#barbers,
#price,
#portfolio,
#about{
    padding-bottom: 80px;
    background-color: AntiqueWhite; 
}

/* navbar */
  
.navbar-nav{ 
    margin-right: 0 !important; 
    padding-right: 100px; 
} 
  
.navbar{ 
    background-color: #0a193d; 
    color: white !important; 
} 
  
.nav-item a{ 
    font-family: 'Arimo', sans-serif;
    color: AntiqueWhite !important; 
} 
  
.nav-item{ 
    padding-left: 2px; 
} 
  
.navbar-brand{
    font-family: 'Playfair Display SC', serif;
    color: AntiqueWhite !important; 
    padding-left: 100px; 
}

#banner-col p{
    font-family: 'Arimo', sans-serif;
}
  
  
#navbar button{ 
    color: AntiqueWhite !important; 
}

#banner #banner-col2 img{
    background-color: AntiqueWhite;
}
/* banner */
  
#banner-container{ 
    background-color: #0a193d;
    color: white !important; 
    padding-top: 80px; 
    padding-bottom: 80px; 
      
}

#banner-container a{
    margin-bottom: 40px;
}

#banner-container a.btn.btn-primary{
    font-family: 'Playfair Display SC', serif;
    padding: 15px 30px;
    font-size: 20px;
    font-weight:bold;
}

#banner-col h3{
    padding-left: 20px; 
}

/* barbers  */

#banner-row img{ 
    border-radius: 5px;
    background-color: rgb(138, 83, 10);
    border: 1px solid #ddd;
    padding: 5px;
} 

#banner-row h3, p{ 
    padding-left: 20px; 
    padding-top: 2px;
    padding-bottom: 20px; 
    text-align: center; 
}
  
#banner-row a{
    background-color: LightSlateGray !important; 
    color: AntiqueWhite  !important;
    border: none;
    margin-left: 20px; 
    margin-top: 20px; 
      
} 

/* Price-list */
   
#product-col2 ul{
    list-style-type: none;
    padding-top: 10px; 
    height: 200px;
    overflow-y: scroll;
} 
  
#product-col2 ul li{ 
    padding: 7px;
}

#price h3{
    padding-top: 20px;
}

.list-group li{
    background-color: Beige;
}

/* Portfolio */

@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: rgb(252, 209, 153);
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

/* About */

#about-col ul{ 
    padding-top: 50px; 
    padding-left: 50px; 
} 
  
#about-col ul li{ 
    padding-top: 15px; 
      
}
 
/* footer */

#footer-col2 a,
#footer-col1 a{ 
    text-decoration: none;
    color: white !important; 
    background-color: #0a193d  !important; 
}

.mb-3{ 
  padding-top: 10px; 
}

/* .......... */
/* appointment */
/* .......... */

#appointment-step1,
#appointment-step2{
    margin-top: 24px;
}

.h2{
    padding-top: 0;
}

#appointment label{
    font-size: 20px;
}

#appointment-date{
    margin-top: 24px;
}

#appointment-barber,
#appointment-time,
#service-appointment,
#client-name,
#client-phone{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
}

.form-label{
    font-size: 20px;
}

#product-col3 ul{
    list-style-type: none;
    padding-top: 20px; 
    height: 300px;
    overflow-y: scroll;
}

#product-col3 ul li{ 
    padding: 7px;
    background-color: rgb(249, 249, 244);
}

#appointment-baner img{ 
    border-radius: 5px;
    background-color: AntiqueWhite;
    border: 1px solid #ddd;
    padding: 5px;
}

#a-step2{
    margin-left: 440px;
}

.container-step{
    display: flex;
    /* justify-content:space-between; */
}

.container-step a{
    align-self:flex-end;

}

/* .......... */
/* thanks */
/* .......... */

#h1-thanks{
    font-family: 'Arimo', sans-serif;
}

#thanks{
    text-align: center;
}

/* .......... */
/* alert */
/* .......... */

.alert {
    display: inline-flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  .alert,
  .alert > .alert__message {
    background-color: #e6faff;
    color: #5aa5b9;
    padding-top: 1.4rem;
    font-size: 2.6rem;
    font-weight: 500;
  }
  
  .alert.alert--error,
  .alert.alert--error > .alert__message {
    padding: 0;
    margin: 0;
    background-color: #fff2ee;
    color: #fc4b0b;
  }
  
  .alert.alert--success,
  .alert.alert--success > .alert__message {
    padding: 0;
    margin: 0;
    background-color: #def8e8;
    color: #359e64;
  }
  
  .alert > .alert__close {
    color:red;
    padding-bottom: 0.45rem;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: transparent;
    font-size: 3.5rem;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  .alert > .alert__close:hover {
    opacity: 0.85;
    color:rgb(7, 7, 10);
  }
  
/* .......... */
/* Login/SignUp */
/* .......... */

.auth {
    width: 100%;
    position: relative;
    z-index: 1;
    background: transparent;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../barbershop/pattern.jpg);
  }
  
  .auth > .card {
    border: 2px solid rgb(119, 115, 115);
    border-radius: 20% / 50%;
    padding: 3rem 4rem;
    width: 55%;
    max-width: 65rem;
  }
  
  @media screen and (min-width: 650px) {
    .auth > .card {
      padding: 5rem 8rem;
      width: 95%;
      max-width: 65rem;
    }
  }
  
  .auth__header h3 {
    color: #3f4156;
    font-weight: 700;
    margin-top: 1rem;
  }
  
  .auth__header p {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  .auth__form {
    margin: 3rem 0;
  }
  
  .auth .auth__form label,
  .auth .auth__alternative p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #51546e;
  }
  
  .auth .auth__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
  }
  .auth .auth__actions a {
    text-decoration: none;
  }
  
  .auth .auth__alternative a {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
  }
/* .......... */
/* account */
/* .......... */

.vh-100{
    background: url(../barbershop/pattern.jpg);
}
.text-info{
    padding: 0;
    text-align: left;
    color: darkred !important;
}
.gradient-custom {
/* fallback for old browsers */
background: #6865f6;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgb(155, 157, 252), rgb(89, 5, 233));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: -webkit-linear-gradient(to right bottom, rgb(155, 157, 252), rgb(89, 5, 233));
}