
/* .................. */

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

/* .................... */

*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto Condensed', sans-serif; 
} 
  
/* navbar */
  
.navbar-nav{ 
    margin-right: 0 !important; 
    padding-right: 100px; 
} 
  
.navbar{ 
    background-color: #0a193d; 
    color: white !important; 
} 
  
.nav-item a{ 
    color: white !important; 
} 
  
.nav-item{ 
    padding-left: 2px; 
} 
  
.navbar-brand{ 
    color: white !important; 
    padding-left: 100px; 
} 
  
#navbar button{ 
    color: white !important; 
} 
  
/* banner */
  
#banner-container{ 
    background-color: #0a193d; 
    color: white !important; 
    padding-top: 80px; 
    padding-bottom: 80px; 
      
} 
#banner-container a{
    margin-bottom: 40px;
}
/* barbers  */
#banner-row img{ 
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
} 

#banner-row h3, p{ 
    padding-left: 20px; 
    padding-top: 2px;
    padding-bottom: 20px; 
    text-align: center; 
}
  
#banner-row a{ 
    background-color: white !important; 
    color: black !important; 
    border: none; 
    margin-left: 20px; 
    margin-top: 20px; 
      
} 
#banner-col{ 
    padding-left: 20px; 
} 

#service{ 
    padding-top: 80px; 
    padding-bottom: 80px; 
} 
  
#service h1{ 
    padding-bottom: 70px; 
} 
  
  
/* price-list */
  
#price{ 
    padding-top: 80px; 
    padding-bottom: 80px; 
} 
  
#price h1{ 
    padding-bottom: 70px; 
} 
  
#product-col2 ul{
    list-style-type: none;
    padding-top: 10px; 
    height: 200px;
    overflow-y: scroll;
} 
  
#product-col2 ul li{ 
    padding: 7px;
}

/* portfopio */

#portfolio{
    padding-top: 80px; 
    padding-bottom: 80px;   
}
/* about */
  
#about{ 
    padding-top: 80px; 
    padding-bottom: 80px; 
} 
  
#about h1{ 
    padding-bottom: 70px; 
} 
  
#about-col ul{ 
    padding-top: 50px; 
    padding-left: 50px; 
} 
  
#about-col ul li{ 
    padding-top: 15px; 
      
} 
 
/* footer */
  
#footer-col2 a{ 
    text-decoration: none;
    color: white !important; 
    background-color: #0a193d  !important; 
}

.mb-3{ 
  padding-top: 10px; 
}


