body{
    background-color: aqua;
}

:before,
:after {
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, footer {
    background-color: brown;
    padding: 20px;
    text-align: center;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    flex: 1 1 auto;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.menu{
    background: lightyellow;
    padding: 10px;
    border-bottom: 6px solid #FFF;
}

.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}
.menu li{
    margin-left: 60px;
}
.menu a{
    color: #8c7414;
    font-weight: bold;
    text-decoration: none;
}


.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

/* .................... */
 /* barbers  */
#banner-row img{ 
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
} 
/* barbers  */
#banner-row h3, p{ 
    padding-left: 20px; 
    padding-top: 2px;
    padding-bottom: 20px; 
    text-align: center; 
} 