{% load static %}
<!-- footer -->
<section id="footer"> 
    <section id="banner"> 
      <div class="container-fluid" id="banner-container"> 
        <div class="row" id="banner-row"> 
          <div class="col-md-4" id="footer-col1"> 
            <h3><a href="{% url 'barbershop:barbershop' %}" id="fotter-link-main"> 
              BarberShop</a></h3> 
              
            <p> 
                Мы следуем высочайшим стандартам качества и используем в работе только дорогую высококачественную косметику для того, чтобы вы, выйдя от нас, обязательно бы к нам вернулись.
            </p> 

          </div> 
            <div class="col-md-4" id="footer-col2"> 
                <h3>Связаться с нами</h3>
                <p>
                    Телефон: <a class="telephone" href="tel:8 777 777 77 77">8 777 777 77 77</a>
                </p>
                  
                <p>
                    Email: <a class="email" href="http://127.0.0.1:8000">support@gmail.com</a>
                </p> 
          </div> 

          <div class="col-md-4" id="footer-col2"> 
            <h3>Наше местоположение</h3> 
            <div class="mb-3"> 
                <p>Город, Улица Пушкина, 1</p>
                <p>Пн — Пт с 8:00 до 20:00</p>
            </div> 
          </div> 
        </div> 
      </div> 
    </section> 
</section> 