{% extends 'barbershop/base.html' %}
{% block content %}
{% load static %}
<div class="auth">
    <div class="card">
        <h1 id="profile_edit">Редактировать аккаунт</h1>
        <br>
        <form action="{% url 'edit-account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
            <label for="formInput#text">{{ field.label }}:</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
            </div>
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit">Редактировать</button>
                </div>
            </div>
        </form>
        <a class="backButton" href="{% url 'user_account' %}">Вернуться на страницу профиля</a>
    </div>
</div>
{% endblock %}